
<form name="form_main">
<section class="title">
    <h3>CONTADOR DE DIAS</h3>
</section>
  <label for="date_ini" >DATA INICIAL: </label> 
  <input name="date_ini" id="date_ini" type="date"> <br>
  <label for="date_end">DATA FINAL: </label> 
  <input name="date_end" id="date_end" type="date"> <br>
  <label for="days">DIAS PASSADOS: </label> 
  <span id="days"></span> <br><br>

<button type="button" class="btn btn-outline-info" btn-lg" onclick="countDays()" value="Contar">Contar</button> 

<div class="clock">
      <div class="display">
      